/*font voor alle kopteksten*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/*font voor alle labels, oftewel kleine teksten die duidelijkheid bieden*/
label {
    font-family: Arial, Helvetica, sans-serif;
}

/*Styling voor alle submit knoppen*/
input[type="submit"] {
    background-color: #DAC0A3;
    border: 0;
    border-radius: 3%;
    padding: 10px 20px;
    cursor: pointer;
}

/*Styling voor alle tekst invoer velden*/
input[type="text"] {
    background-color: white;
    border: solid black 5px;
    border: 0;
    padding: 10px 10px;
    border-radius: 3%;
}

/*Styling voor alle wachtwoord velden*/
input[type="password"] {
    background-color: white;
    border: solid black 5px;
    border: 0;
    padding: 10px 10px;
    border-radius: 3%;
}

/*Styling voor alle email velden*/
input[type="email"] {
    background-color: white;
    border: solid black 5px;
    border: 0;
    padding: 10px 10px;
    border-radius: 3%;
}

/*Styling voor alle containers*/
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 0;
}

/*Styling voor alle boxes die we gebruiken in de containers*/
#box {
    background-color: #EADBC8;
    padding: 50px;
    width: 16%;
    border-radius: 3%;
    border: black solid 3px;
    text-align: center;
}

/*Styling voor de footer op deze pagina zodat die fixed is*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}
