body{
    background-color: #F8F0E5;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    gap: 20px;
}
.grid-container-groot{
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 20px;
    max-height: 400px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: auto;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #EADBC8;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #EADBC8;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}